.container {
  margin: 0 0 0 30px;
}
.summary {
  width: 60%;
  display: flex;
  gap: 20px;
}
.summary div {
  border: 1px solid #fff;
  width: 200px;
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}
.quickActions {
  width: 70%;
}
.quickActions > div {
  border: 1px solid #ffff;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
}
.quickActions > div p {
  color: #a1a1a1;
}
.quickActions > div button {
  background-color: #34495e;
  color: #fff;
  width: 130px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
  outline: none;
}
.quickActions > div button:hover {
  background-color: rgb(34, 121, 235);
  transition: background-color 0.25s ease-in-out;
}
.recentDetection {
  width: 70%;
}
.titles {
  display: flex;
  justify-content: space-around;
  border: 1px solid #979191;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  background-color: #a1a1a148;
}
.data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #979191;
  border-top: none;
  border-radius: 0 0 15px 15px;
}
h4 {
  margin: 20px 0;
}
